*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
.container1{
    background-image:url(imgs/banner-bk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 44px 0px;
}
.logo{
    display: flex;
    justify-content: space-between;
    padding: 0px 137px;
    align-items: center;
}
a{
    color: #ffffff;
    text-decoration: none;
}
.texto1{
    padding: 36px 137px;
}
.texto1 h1{
    font-size: 66px;
}
.marginTexto{
    margin-top: 29px;
}
.primerBoton{
    background-color: #00ffad;
    padding: 15px 31px;
    margin-top: 29px;
    border-radius: 24px;
    border: none;
    font-size: 16px;
}
button:hover{
    scale: 1.01;
    cursor: pointer;
    box-shadow: 0 8px 9pt 0 #091e4226, 0 0 1px 0 #091e424f;
}
.tresimgs{
    display: flex;
    justify-content: center;
    gap: 200px;
    text-align: center;
}
.tresimgs h3{
    margin-bottom: 10px;
}
.tresimgs p{
    width: 282px;
}
.texto2{
    display: flex;
    justify-content: center;
    padding: 31px 0px;
    font-size: 26px;
}
.semicontainer2{
     background: linear-gradient(-10deg, #00ffad 50%, #ffffff 50%);
     display: flex;
     height: 47vh;
     justify-content: space-evenly;
     padding-top: 73px;
}
.semicontainer2 div{
    padding: 56px 0px;
}
.semicontainer2 img{
    height: 32vh;
    width: 54vh;
}
.semicontainer2 p{
    font-size: 16px;
}
.semicontainer2 h2{
    font-size: 50px;
    margin-bottom: 14px;
}
.segundoBoton{
    background-color: #192440;
    padding: 15px 31px;
    margin-top: 29px;
    border-radius: 24px;
    border: none;
    color: #ffffff;
    font-size: 16px;
}
.segundosemiconte2{
    display: flex;
    background-color: #00ffad;
    padding: 27px 0px;
    justify-content: space-evenly;
}
.segundosemiconte2 h2{
    font-size: 50px;
    margin-bottom: 14px;
}
.segundosemiconte2 p{
    font-size: 19px;
}

.Check{
    display: flex;
    justify-content: center;
    font-size: 44px;
    padding: 51px 0px;
}
.trespromo{
    display: flex;
    justify-content: space-evenly;
}
.trespromo span{
    font-size: 67px;
}
li{
    list-style: none;
    margin-top: 8px;
}
.PREMIUM{
    display: flex;
    flex-direction: column;
    background-color: #192440;
    color: #ffffff;
    padding: 74px 118px;
    border-radius: 14px;
}
.PREMIUM h3{
    margin-left: 10px;
    margin-bottom: 20px;
}
.PREMIUM h2{
    margin-left: 12px;
}
.OscuroBoton{
    background-color: #00ffad;
    padding: 16px 18px;
    margin-top: 29px;
    margin-left: 20px;
    border-radius: 24px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    width: 105px;
}
.transparentes{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: #292b2c;
    padding: 74px 118px;
}
.ClaroBoton{
    background-color: transparent;
    padding: 16px 18px;
    margin-top: 29px;
    margin-left: 20px;
    border-radius: 24px;
    border: none;
    color: #292b2c;
    font-size: 16px;
    width: 105px;
    border: solid #292b2c 1px;
}
.transparentes h3, h4{
    margin-left: 39px;
    margin-bottom: 20px;
    font-size: 25px;
}
.transparentes h2{
    margin-left: 12px;
}

.logo1{
    display: flex;
    justify-content: space-evenly;
    background-color: #eceeef;
    height: 16vh;
    padding: 41px 0px 0px 0px;
    margin-top: 92px;
}
.logo1 img{
    height: 100px;
    width: 136px;
}
.container4{
    display: flex;
    justify-content: space-evenly;
    padding: 167px 0px;
    color: #ffffff;
    background-image: url(imgs/contact-bk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -116px;
}
.dosInput{
    display: flex;
    gap: 20px;
}
.dosInput input{
    width: 270px;
    height: 30px;
    border: solid #00ffad 1.5px;
    background-color: transparent;
    color: #ffffff;
}
.textarea{
    display: flex;
    flex-direction: column;
}
.texto4 p{
    width: 526px;
    margin-top: 16px;
    font-size: 22px;
    margin-bottom: 15px;
}
.textarea input{
    background-color: #00ffad;
    padding: 12px 0px;
    margin-top: 10px;
    border-radius: 24px;
    border: none;
    color: #292b2c;
    font-size: 16px;
    border: solid #292b2c 1px;
}
.textarea textarea{
    border: solid #00ffad 1.5px;
    margin-top: 5px;
    background-color: transparent;
    color: #ffffff;
}
label{
    margin-top: 1px;
    color: #00ffad;
}
.final{
    display: flex;
    justify-content: space-between;
    padding: 30px  269px;
    background-color: #192440;
    color: #ffffff;
    align-items: center;
}
.final img{
    height: 20px;
    width: 31px;
    margin-left: 16px;
    background-color: #ffff;
    padding: 7px;
    border-radius: 100%;
}
.imagen1{
        width: 160px;
        height: 127px; 
    }
@media (max-width:1279px){
    .logo{
        padding: 0px 74px;
    }
    .texto1 {
        padding: 17px 71px;
    }
    .texto1 p{
        font-size: 14px;
    }
    .texto1 h1 {
       font-size: 45px;
    }
    .imagen1 {
        width: 126px;
        height: 109px;
    }
    .primerBoton{
        padding: 13px 16px;
        font-size: 12px;
    }
    .tresimgs{
        gap: 18px
    }
    .semicontainer2 h2{
        font-size: 42px;
    }
    .segundoBoton{
        margin-top: 12px;
        padding: 13px 16px;
        font-size: 12px;
    }
    .semicontainer2{
        height: 39vh;
    }
    .semicontainer2 img {
        height: 20vh;
        width: 33vh;
    }
    .semicontainer2 div{
        padding: 30px 0px;
    }
    .imgCompu{
        width: 481px;
        height: 270px;
    }
    .segundosemiconte2 h2 {
        font-size: 41px;
        margin-bottom: 10px;
    }
    .segundosemiconte2 p{
        font-size: 15px;
        width: 329px;
    }
    .transparentes{
        padding: 66px 0px;
    }
    .PREMIUM{
        padding: 67px 62px;
    }
    .textarea textarea{
        width: 335px;
        height: 104px;
    }
    .textarea input{
        width: 335px;
    }
    .dosInput input{
        width: 156px;
        height: 22px;
    }
    .texto4 p {
        width: 507px;
        font-size: 16px;
    }
    .container4{
        padding: 68px 0px;
        background-position-y: 1px;
    }
    .logo1 img {
        height: 91px;
        width: 110px;
    }
    .ClaroBoton{
        margin-left: 26px;
    }
    .texto4{
        padding: 33px 5px;
    }
    .final{
        padding: 30px 26px;
    }
}
@media (max-width:920px){
    .texto1 h1 {
        font-size: 38px;
    }
    .texto1 p {
        font-size: 12px;
    }
    .tresimgs {
        gap: 20px;
    }
    .tresimgs p {
        width: 221px;
    }
    .semicontainer2 h2 {
        font-size: 34px;
    }
    .semicontainer2 div {
        padding: 0px 19px;
    }
    .semicontainer2 {
        height: 29vh;
    }
    .semicontainer2 img {
        height: 18vh;
        width: 34vh;
        margin-right: 30px;
    }
    .textarea input{
        padding: 8px 0px
    }
    .imgCompu {
        width: 377px;
        height: 213px;
    }
    .segundosemiconte2 h2{
        font-size: 36px;
    }
    .segundosemiconte2{
        padding: 12px 0px;
    }
    .transparentes h2 {
        margin-left: 19px;
        font-size: 20px;
        margin-bottom: 17px;
    }
    .transparentes h3, h4 {
        margin-left: 19px;
    }
    .OscuroBoton{
        margin-top: 49px;
    }
    li{
        margin-top: 14px;
    }
    .logo1{
        padding: 20px 0px 0px 0px;
    }
    .logo1 img {
        height: 85px;
        width: 97px;
    }
    .texto4 p {
        width: 328px;
    }
    .texto4 li{
        font-size: 14px;
    }
    .final img{
        height: 18px;
        width: 23px;
    }
}
@media (max-width:768px){
    .logo {
        padding: 0px 43px;
    }
    .imagen1 {
        width: 91px;
        height: 86px;
    }
    .texto1 {
        padding: 17px 37px;
        width: 292px;
    }
    .marginTexto {
        margin-top: 13px;
    }
    .primerBoton{
        font-size: 10px;
    }
    .texto2{
        font-size: 17px;
    }
    .tresimgs{
        display: grid;
    }
    .tresimgs p{
        width: 282px;
    }
    .semicontainer2{
        display: flex;
        flex-direction: column-reverse;
        height: 28vh;
        padding-top: 29px;
    }
    .semicontainer2 div{
        text-align: center;
    }
    .semicontainer2 img{
        margin-left: 87px;
    }
    .segundosemiconte2{
        padding: 113px 0px 23px 0px;
        display: grid;
    }
    .segundosemiconte2 div{
        text-align: center;
    }
    .Check{
        font-size: 32px;
    }
    .trespromo{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .ClaroBoton{
        margin-left: 188px;
    }
    .OscuroBoton{
        margin-left: 122px;
    }
    .logo1 img {
        height: 87px;
        width: 70px;
    }
    .container4{
        display: grid;
    }
    .final {
        padding: 20px 12px;
    }
    .final img {
        height: 15px;
        width: 14px;
    }
}